<a href="https://colab.research.google.com/github/Sathwik-ch/EDA/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("Titanic-Dataset.csv")
print("File loaded successfully!")

File loaded successfully!

In [58]:
print(df.shape)

(891, 12)

In [59]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [60]:
print(df.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [61]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [63]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [65]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [66]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [68]:
print(df['Survived'])

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [74]:
print(df[['Name', 'Sex']])

                                                  Name     Sex
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
..                                                 ...     ...
886                              Montvila, Rev. Juozas    male
887                       Graham, Miss. Margaret Edith  female
888           Johnston, Miss. Catherine Helen "Carrie"  female
889                              Behr, Mr. Karl Howell    male
890                                Dooley, Mr. Patrick    male

[891 rows x 2 columns]

In [77]:
print(df.iloc[1])

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object

In [79]:
print(df[df['Age'] > 30])

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]

In [81]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
print(df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [11]:
df.fillna("Unknown", inplace=True)

In [12]:
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print(df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                             Full Name     Sex  Years  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35.0      1
6                              McCarthy, Mr. Timothy J    male   54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female    4.0      1
11                            Bonnell, Miss. Elizabeth  female   58.0      0
..                                                 ...     ...    ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female   47.0      1
872                           Carlsson, Mr. Frans Olof    male   33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female   56.0      0
887                       Graham, Miss. Margaret Edith  female   19.0      0
889                              Behr, Mr. Karl Howell    male   26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [13]:
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Full Name      0
Sex            0
Years          0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [15]:
df.sort_values(by="Years", ascending=False, inplace=True)
print(df)

     PassengerId  Survived  Pclass                             Full Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
96            97         0       1             Goldschmidt, Mr. George B
745          746         0       1          Crosby, Capt. Edward Gifford
54            55         0       1        Ostby, Mr. Engelhart Cornelius
456          457         0       1             Millet, Mr. Francis Davis
..           ...       ...     ...                                   ...
205          206         0       3            Strom, Miss. Telma Matilda
340          341         1       2        Navratil, Master. Edmond Roger
297          298         0       1          Allison, Miss. Helen Loraine
183          184         1       2             Becker, Master. Richard F
305          306         1       1        Allison, Master. Hudson Trevor

        Sex  Years  SibSp  Parch     Ticket      Fare    Cabin Embarked
630    male  80.00      0      0      27042   30.0000      A23        S
96     male  71.00      0      0   PC 17754   34.6542       A5        C
745    male  70.00      1      1  WE/P 5735   71.0000      B22        S
54     male  65.00      0      1     113509   61.9792      B30        C
456    male  65.00      0      0      13509   26.5500      E38        S
..      ...    ...    ...    ...        ...       ...      ...      ...
205  female   2.00      0      1     347054   10.4625       G6        S
340    male   2.00      1      1     230080   26.0000       F2        S
297  female   2.00      1      2     113781  151.5500  C22 C26        S
183    male   1.00      2      1     230136   39.0000       F4        S
305    male   0.92      1      2     113781  151.5500  C22 C26        S

[183 rows x 12 columns]

In [18]:
df.sort_values(by="Years", ascending=True, inplace=True)
print(df)

     PassengerId  Survived  Pclass                             Full Name  \
305          306         1       1        Allison, Master. Hudson Trevor
183          184         1       2             Becker, Master. Richard F
205          206         0       3            Strom, Miss. Telma Matilda
340          341         1       2        Navratil, Master. Edmond Roger
297          298         0       1          Allison, Miss. Helen Loraine
..           ...       ...     ...                                   ...
54            55         0       1        Ostby, Mr. Engelhart Cornelius
456          457         0       1             Millet, Mr. Francis Davis
745          746         0       1          Crosby, Capt. Edward Gifford
96            97         0       1             Goldschmidt, Mr. George B
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson

        Sex  Years  SibSp  Parch     Ticket      Fare    Cabin Embarked
305    male   0.92      1      2     113781  151.5500  C22 C26        S
183    male   1.00      2      1     230136   39.0000       F4        S
205  female   2.00      0      1     347054   10.4625       G6        S
340    male   2.00      1      1     230080   26.0000       F2        S
297  female   2.00      1      2     113781  151.5500  C22 C26        S
..      ...    ...    ...    ...        ...       ...      ...      ...
54     male  65.00      0      1     113509   61.9792      B30        C
456    male  65.00      0      0      13509   26.5500      E38        S
745    male  70.00      1      1  WE/P 5735   71.0000      B22        S
96     male  71.00      0      0   PC 17754   34.6542       A5        C
630    male  80.00      0      0      27042   30.0000      A23        S

[183 rows x 12 columns]

In [22]:
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'City': ['New York', 'San Francisco']
})

merged_df = pd.merge(df1, df2, on='Name')
print(merged_df)

    Name  Age           City
0  Alice   25       New York
1    Bob   30  San Francisco

In [23]:
import numpy as np

In [27]:
age_column = df['Years'].to_numpy()

In [28]:
print(age_column)

[ 0.92  1.    2.    2.    2.    3.    4.    4.    4.    6.   11.   14.
 15.   16.   16.   16.   17.   17.   17.   18.   18.   18.   18.   19.
 19.   19.   19.   19.   19.   21.   21.   21.   22.   22.   22.   23.
 23.   23.   23.   24.   24.   24.   24.   24.   24.   24.   24.   24.
 25.   25.   25.   25.   26.   27.   27.   27.   27.   27.   28.   28.
 29.   29.   29.   29.   29.   30.   30.   30.   30.   31.   31.   31.
 31.   31.   32.   32.   32.   32.5  33.   33.   33.   33.   34.   34.
 35.   35.   35.   35.   35.   35.   36.   36.   36.   36.   36.   36.
 36.   36.   36.   36.   36.   36.5  37.   37.   37.   38.   38.   38.
 38.   39.   39.   39.   39.   39.   40.   40.   40.   40.   41.   42.
 42.   42.   43.   44.   44.   44.   45.   45.   45.   45.5  46.   46.
 47.   47.   47.   47.   47.   48.   48.   48.   48.   48.   49.   49.
 49.   49.   49.   50.   50.   50.   50.   51.   51.   52.   52.   52.
 52.   53.   54.   54.   54.   55.   56.   56.   56.   57.   58.   58.
 58.   58.   58.   60.   60.   61.   61.   62.   63.   64.   65.   65.
 70.   71.   80.  ]